.success{
    width: 796px;
    /* margin-left: 97px; */
}
.success .glyphicon-ok{
    color: #71cf13;
    margin-right: 10px;
}
.success h3{
    color: #ffb94b;
    margin-top: 85px;
    margin-bottom: 44px;
}
.success span{
    color: #ff6000;
}
.success-info{
    border: 1px solid #a6a6a6;
    background-color: #f6f6f6;
    padding: 64px 100px 88px 66px;
}
.orther-info{
    background-color: #fff2ce;
    border: 1px solid #ffda75;
    line-height: 34px;
    border-radius: 5px;
    color: #5f5f5f;
    margin-top: 32px;
}
.success .vipBox{
    margin-top: 7px;
}
.create-success h4{
    color: #ff6000;
}
.arrow-img{
    width: 218px;
    height: 177px;
    background: url(../images/arrow_img.png) 31px center no-repeat;
}
.scan-code h4{
    text-align: center;
}
.scan-code img{
    width: 140px;
    height: 140px;
}